.Odd{
	background-color:#FFC0CB;
	font-family: Verdana,DejaVu Sans, sans-serif ;
}

#Second_E{
	color: #0000FF;
	font-size: 36px;
}

.Third_E{
	font-size: 24px;
}

#Fourth_E{
	font-size: 24px;
	font-weight: bold;
	background-color: #90EE90;
}
